html {
    height: 100%;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  

  /* Login Page */
  .login-box {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
  }
  
  .login-box h2 {
    font-weight: 900;
    text-align: center;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  #pre-auth input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: rgb(0, 0, 0, .5);
    margin-bottom: 30px;
    border: none;
    border-bottom: 2px solid rgb(0, 0, 0, .5);
    outline: none;
    background: transparent;
    transition: .5s;
  }

  .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: rgba(95, 91, 91, 0.219);
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label {
    top: -20px;
    left: 0;
    font-size: 12px;
  }
  
  input:focus {
    font-weight: bold;
    border-bottom: 2px solid #02bd41;
  }

  
  .login-box a {
    color: rgb(32, 145, 4);
    transition: .5s;
  }
  
  .rect {
    color: white;
    width: 100%;
    height: 100%;
    background: rgb(32, 145, 4);
    border-radius: 5%/50%;
    box-shadow: 5px 5px 5px rgb(223, 219, 219);
    margin-bottom: 10px;
  }

  #pre-auth {
    display: block;
  }

  #post-auth {
    display: none;
  }

  #main-content {
    display: none;
  }

  .nav-tabs{
    /* background-color: grey; */
  }

  .nav-tabs button {
    text-decoration: none;
    color: black;
  }

  #login-nav {
    background: #f1741a;
  }

  /* Basic Layout for all pages */

  .container {
    display: grid;
    grid-template-columns: 0.6fr 1.4fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "one three three"
      "one three three"
      "two three three";
  }

  .box-one {
	  grid-area: one;
	  margin-top: 15px;
    background: #5486fc;
	  width: 90%;
    height: 400px;
	  text-align: center;
	  display: inline-block;
  }

  .box-one ul {
	  text-align: start;
  }
  
  .box-two {
    grid-area: two;
    margin-top: 10px;
    background: #f1741a;
    width: 90%;
    height: 200px;
  }
  
  .box-three {
    grid-area: three;
    margin-top: 15px;
    background: #5486fc;
    height: auto;
    /* overflow: auto; */
  }

  #map {
    grid-area: three;
    margin-top: 15px;
    background: #5486fc;
    height: 625px;
  }

  img {
    vertical-align: text-bottom;
  }

  #login-nav button {
    border: none;
    background: none;
    padding-top: 12px;
    padding-bottom: 13px;
    border-radius: 5px;
  }


  .navbar {
    padding-top: 0;
    padding-bottom: 0;
  }
 
  .home-button {
    margin-top: 40px;
    color: black;
    text-decoration: none;
    font-size: 20px;
    border: none;
    background: none;
  }

  .home-button .fa-folder {
    color: tan;
  }



  /* Add Well Page*/

  #AddWellMenu {
    background: rgb(184, 182, 182);
  }

  #NewWellLabel {
    /* display: inline; */
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px;
    background: rgb(92, 126, 48);
    border: #000;
    display: inline-block;
  }

  #Well_Name {
    padding-top: 20px;
    padding-left: 20px;
    padding-top: 20px;
  }

  .Add_Well_Container {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "one two Input_X three Input_Y"
      "one two Input_X three Input_Y"
      ". . . . ."; 
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
  }
  
  #Head {
    grid-area: one;
    text-align: center;
    font-size: large;
  }

  #Co_X {
    grid-area: two;
    text-align: center;
    font-size: large;
  }

  #Co_Y {
    grid-area: three;
    text-align: center;
    font-size: large;
  }

  #Input_X {
    grid-area: Input_X;
    font-size: medium;
  }

  #Input_Y {
    grid-area: Input_Y;
    font-size: medium;
  }

  .Add_Well_Spacing {
    margin-bottom: 5px;
  }


  #New_Well_Table {
    width: 80%;
    margin: auto;
  }

  #Add_Well_Button_Container{
    padding-top: 25px;
    padding-bottom: 15px;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 20px; 
    grid-template-areas: 
      "first one two second"

  }

  .Add_Well_Buttons {
    color: black;
    width: 60%;
    height: 35px;
    transition: 0.5s;
    border: none;
    border-radius: 5px;
    background: linear-gradient(to bottom, #641060 0%, #9c1c87 51%, #da33b0 100%);
  }

  .Add_Well_Buttons:hover {
    background: linear-gradient(to bottom, #e431b7 0%, #9c1c87 51%, #641060 100%);
  }

  .Add_Well_Buttons:active {
    background: linear-gradient(to bottom, #641060 0%, #9c1c87 51%, #da33b0 100%);
  }

  #Button_One {
    grid-area: one;
  }

  #Button_Two {
    grid-area: two;
  }

  .error-well {
    padding: 0px;
    font-size: 10px;
  }

  /* Style for the well folder tree */

  #tree .well-tree-button{}

  .well-tree-button {
    margin-top: 40px;
    color: black;
    text-decoration: none;
    font-size: 20px;
    border: none;
    background: none;
  }
/* 
  .well-tree-button .fa-folder .fa-folder-open {
    color: tan;
  } */
  